/* Stéphane CSS 
The remaining style (unshown here) comes from Bulma - https://bulma.io/*/

#main-button {
	background-color: null;
	width: 40%;
	margin: 1em 30% 1em 30%;
}

body {
	min-height: 100vh;
	overflow: scroll;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 3em 1em 3em 1em;
}

#background-color {
	width: 40%;
	text-align: center;
	margin: 10% 30% 1em 30%;
	font-size: 2em;
}